{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{>back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Signup Confirm Page</h1>

        <p class="page_subtitle">Please enter the code sent to your email</p>

        <div class="form">
            <div class="form__item">
                {{>field placeholder="Your code" action="signupConfirmForm.change" label="Code" type="number"
                name="code" }}
                <span name="email" class="form__error">Error</span>
            </div>

        </div>

        <button onclick="signupConfirmForm.submit()" class="button button--disabled" type="button">
            Confirm
        </button>
        <span class="alert alert--disabled">Attention, error!</span>
        <span class="link__prefix">Lost your code?
            <a href="/signup-confirm" class="link" id="renew">
                Receive new code
            </a>
        </span>
    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}