{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{>back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Registration</h1>

        <div class="form">
            <div class="form__item">
                {{>field action="signupForm.change" label="E-mail" type="email" name="email" placeholder="Your e-mail"}}
                <span name="email" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{>field-password placeholder="Enter your password" action="signupForm.change" label="Password"
                type="password"
                name="password"}}
                <span name="password" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{>field-password placeholder="Repeat your password" action="signupForm.change" label="Password again"
                type="password"
                name="passwordAgain"}}
                <span name="passwordAgain" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{>field-select placeholder="Choose your role" action="signupForm.change" label="Role" list=data.role
                type="select"
                name="role"}}
                <span name="role" class="form__error">Error</span>
            </div>
            <div class="form__item">
                {{>field-checkbox label="I agree with terms of the service" action="signupForm.change"
                name="isConfirm"}}
                <span name="isConfirm" class="form__error">Error</span>
            </div>
        </div>

        <button onclick="signupForm.submit()" class="button button--disabled" type="button">Register</button>
        <span class="alert alert--disabled">Attention, error!</span>
    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}